mat-toolbar{
  height: 80px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.logo{
  height: 100%;
  float: right;
  cursor: pointer;
}


.select-item{
  ::ng-deep.mat-form-field-outline {
    padding: .3rem 0;
  }
  ::ng-deep.mat-form-field-wrapper{
    margin: 0;
  }
  ::ng-deep.mat-form-field-infix{
    padding: 8% 0 8% 0 ;
  }
}

.select-mini-item{
  // ::ng-deep.mat-form-field-outline {
  // }

  // ::ng-deep.mat-form-field-wrapper {
  //   padding: 0;
  // }
  ::ng-deep.mat-form-field-wrapper{
    margin: 1% 0;
  }
  ::ng-deep.mat-form-field-flex {
    margin:0;
  }
  ::ng-deep.mat-form-field-infix{
    padding: 8% 0 7% 0 ;
  }
  width: 100%;
  font-size: 1rem;
}

.menu {
  font-size: 1.1em;
  cursor: pointer;
  font-weight: 300;
}
span:hover{
  color: #F50057;
}

.search{
  font-size: 2rem;
}

.btn-login{
  font-size: 1.2rem;
  font-weight: 400;
}
.btn-login-mini{
  font-weight: 300;
  font-size: .7rem;
  padding: 0 .3rem ;
}

.social{
  padding-top: 1em;
}

.socialitem{
  width: 20%;
  transform: translateY(-20%);
  cursor: pointer;
}


.main-body{
  height: calc(100vh - 80px);
  width: 100%;
}
