.main-layout{
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/home/city.jpg');
  background-size: cover;
}

.search{
  ::ng-deep.mat-form-field-outline {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    margin-top: 2%;
  }
  width: 90%;
  font-size: 1.2em;

}

.left-layout{
  // background-color: rgb(238, 197, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food{
  border: 1px solid white;
  margin: 0 0.2em 0 0.2em;
  color: white;
  transition: 0.7s;
}

.food:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}

