<div
  class="main-layout"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="16px"
  fxLayoutAlign="center"
>
  <div fxFlex="15%"></div>

  <!-- Main Layout -->
  <div fxFlex="70%"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutWrap
       fxLayoutGap="16px"
       fxLayoutAlign="center"
  >

  <!-- Main Layout Trái -->
  <div fxFlex="45%" class="left-layout">

    <!-- Tìm kiếm Món ăn -->
    <mat-form-field appearance="outline" class="search">
      <input matInput placeholder="Tìm địa điểm, món ăn, địa chỉ,...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- Danh sách  các loại món ăn -->

    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button>Basic</button>


  </div>

  <!-- Main Layout Phải -->
  <div fxFlex="55%" style="background-color: white;"></div>

  </div>

  <div fxFlex="15%"></div>


</div>
