.main-layout{
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/home/city.jpg');
  background-size: cover;
}

.search{
  ::ng-deep.mat-form-field-outline {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    margin-top: 2%;
  }
  width: 90%;
  font-size: 1.2rem;
}

.left-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-category {
  width: 80%;
  text-align: center;
}

.category{
  border: 1px solid white;
  margin: 0.5rem 0.5em;
  color: white;
  transition: 0.7s;
}

.category:hover{
  background-color: white;
  color: black;
  font-weight: 500;
}

.main-section{
  overflow: auto;
}

.section{
  border-radius: 10px;
  width: 100%;
  background-color: white;
}

.food-section{
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}

.food-img {
  width:100%;
  height: 100%;
}

.food-title{
  font-size: 1.4rem;
  font-weight: 500;
  transform: translateY(40%);
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.food-addr{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

// Element kích thước Laptop ======================================================================================================
@media only screen and (max-width: 1366px){
  .search {
    font-size: 1rem;
  }

  .category {
    margin: 0.2rem 0.3em;
  }

  .food-title{
    font-size: 1.1rem;
    transform: translateY(10%);
  }
}


// Element kích thước Iphone ======================================================================================================
@media only screen and (max-width: 375px){

  .search {
    font-size: .9rem;
  }

  .category {
    margin: 0.2rem 0.3em;
  }

  .food-title{
    font-size: .8rem;
  }


}
