.main-layout{
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/home/city.jpg');
  background-size: cover;
}

.search{
  ::ng-deep.mat-form-field-outline {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    margin-top: 2%;
  }
  width: 90%;
  font-size: 1.2em;
}

.mini-search {
  ::ng-deep.mat-form-field-outline {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    margin-top: 2%;
  }
  width: 90%;
}

.left-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-category {
  width: 80%;
  text-align: center;
}

.category{
  border: 1px solid white;
  margin: 0.5rem 0.5em;
  color: white;
  transition: 0.7s;
}

.mini-category {
  border: 1px solid white;
  margin: 0.2rem 0.3em;
  color: white;
  transition: 0.7s;
}

.category:hover ,
.mini-category:hover{
  background-color: white;
  color: black;
  font-weight: 500;
}

.main-section{
  overflow: auto;
}

.section{
  border-radius: 10px;
  width: 100%;
  background-color: white;
}

.food-section{
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}

.food-img {
  width:100%;
  height: 100%;
}

.food-title{
  text-align: center;
  font-weight: 500;
  transform: translateY(50%);
}
