<div
  class="main-layout"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap
  fxLayoutAlign="center"
>
  <div fxFlex="20%" fxHide.lt-lg ></div>

  <!-- Main Layout -->
  <div fxFlex
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutWrap
       fxLayoutGap="16px"
       fxLayoutAlign="center"
  >

    <!-- Main Layout Trái -->
    <div fxFlex="40%" class="left-layout" >

      <!-- Tìm kiếm Món ăn màn hình lớn-->
      <mat-form-field appearance="outline" class="search" fxHide.lt-lg>
        <input matInput placeholder="Tìm địa điểm, món ăn, địa chỉ,...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Tìm kiếm Món ăn màn hình nhỏ -->
      <mat-form-field appearance="outline" class="mini-search" fxHide.gt-xs>
        <input matInput placeholder="Tìm địa điểm, món ăn, địa chỉ,...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Danh sách  các loại món ăn màn hình lớn-->
      <div class="list-category" fxHide.lt-lg>
        <button mat-stroked-button class="category">Tất cả</button>
        <button mat-stroked-button class="category">Đồ uống</button>
        <button mat-stroked-button class="category">Đồ ăn nhanh</button>
        <button mat-stroked-button class="category">Kem</button>

        <button mat-stroked-button class="category">Tất cả</button>
        <button mat-stroked-button class="category">Đồ uống</button>
        <button mat-stroked-button class="category">Đồ ăn nhanh</button>
        <button mat-stroked-button class="category">Kem</button>
      </div>

      <!-- Danh sách  các loại món ăn màn hình nhỏ-->
      <div class="list-category" fxHide.gt-xs>
        <button mat-stroked-button class="mini-category">Tất cả</button>
        <button mat-stroked-button class="mini-category">Đồ uống</button>
        <button mat-stroked-button class="mini-category">Đồ ăn nhanh</button>
        <button mat-stroked-button class="mini-category">Kem</button>

        <button mat-stroked-button class="mini-category">Tất cả</button>
        <button mat-stroked-button class="mini-category">Đồ uống</button>
        <button mat-stroked-button class="mini-category">Đồ ăn nhanh</button>
        <button mat-stroked-button class="mini-category">Kem</button>
      </div>



    </div>

    <!-- Main Layout Phải -->
    <div fxFlex
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap = "1rem"
    fxLayoutAlign="center"
    >

    <div fxFlex=5 fxHide.lt-lg></div>

    <div fxFlex  fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap = "16px" class="main-section">

      <div class="section">

        <div fxLayout="column"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap = "16px"
        fxLayoutAlign="center"
        style="padding: 1rem 2rem;height: 100%; width: 100%;"
        >

          <!-- Label -->
          <div fxFlex=5  fxLayoutAlign="space-between center">
            <span style="font-size: 1.5rem;">Ưu Đãi</span>

            <!-- xem tất cả -->
            <div fxLayoutAlign="space-between center" style="cursor: pointer;">
              <mat-icon>grid_view</mat-icon>
              <span style="font-size: 1rem;">Xem tất cả</span>
            </div>
          </div>

          <!-- danh sách món ăn -->
          <div fxFlex>

            <mat-grid-list cols="3" rowHeight="1:1.2" gutterSize = 1rem>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>

              <mat-grid-tile class="food-section">

                <div fxLayout="column"
                     fxLayout.xs="column"
                     fxLayoutWrap
                     fxLayoutGap
                     fxLayoutAlign="space-between center"
                     style="width:100%; height: 100%;"
                >

                 <div fxFlex=60>
                    <img src="assets/images/food/food.jpeg" class = "food-img">
                 </div>

                 <div fxFlex=20>
                    <h3 fxHide.lt-lg class="food-title" style="font-size: 1.3rem;">Bánh mì dân tổ</h3>
                    <h5 fxHide.gt-xs class="food-title">Bánh mì dân tổ</h5>
                 </div>

                 <div fxFlex=20>
                    <p fxHide.lt-lg style="text-align: center;">136 Hoàng Minh Thảo, Quận Lê Chân, Hải Phòng</p>
                 </div>

                </div>

              </mat-grid-tile>


            </mat-grid-list>

          </div>

        </div>

      </div>


    </div>




    </div>

  </div>

    <!-- Trắng lề  -->
  <div fxFlex="20%" fxHide.lt-lg ></div>


</div>
